<section class="flex flex-col h-[100%] bg-slate-900 text-surface-charcoal-100/90 p-5">
  <app-page-tab [tabData]="tabData" [currentTab]="currentTab()" (changeTab)="changeTab($event)"></app-page-tab>

  <div class="flex gap-5 p-2">
    <input type="text" placeholder="search" [(ngModel)]="searchTerm" (keyup)="searchData()" [ngClass]="{
        'w-[80%]': currentTab() === 0,
        'w-[100%]': currentTab() === 1
      }" class="p-3 rounded-xl min-h-8 bg-slate-950 focus:border-none focus:outline-none" />

    @if(currentTab() === 0) {
    <!--Only for exercise tab-->
    <button class="rounded-xl min-h-8 p-3 bg-surface-charcoal-700" (click)="toggleFilter()">
      <img src="assets/images/filter_white.svg" alt="filters" />
    </button>

    }
  </div>

  <div class="fixed left-0 top-0 h-[100vh] w-[100vw] flex justify-center items-center z-40 transition-all bg-black/50"
    [ngClass]="{
    'opacity-100 pointer-events-auto': currentTab() === 0 && filterVisible(),
    'opacity-0 pointer-events-none': currentTab() !== 0 || !filterVisible()
  }" (click)="toggleFilter()">
    <div class="p-5 bg-surface-charcoal-800 rounded-lg h-[60vh] w-[90vw]" (click)="$event.stopPropagation()">
      <div class="grid grid-cols-2 gap-5 overflow-y-auto h-full w-full">
        @for (name of muscleList(); track i; let i = $index) {
        <div (click)="setMuscleFilter(name)"
          class="p-2 py-5 rounded-lg text-wrap whitespace-normal h-auto text-center align-middle"
          [ngClass]="{'bg-secondary-brown-500': muscleName !== name, 'bg-secondary-brown-900': muscleName === name}">
          <p>{{ name }}</p>
        </div>
        }
      </div>

    </div>
  </div>


  <div class="grid grid-cols-2 gap-4 m-4 overflow-y-auto max-h-[59vh]">
    @for (name of displayList(); track i; let i = $index) {
    <div (click)="openPopup(name)"
      class="p-5 rounded-lg text-wrap whitespace-normal break-words h-auto bg-secondary-brown-800 text-center align-middle">
      <p>{{ name }}</p>
    </div>
    }
  </div>

  @if(activeExercises().size > 0){
  <div class="rounded-full fixed bottom-[11%] p-3 right-[8%] bg-secondary-brown-800 shadow-lg"
    (click)="openPopup(null)">
    <img src="assets/images/edit.svg" alt="+" width="40" height="40" />
  </div>
  }
</section>