<section class="flex flex-col h-[100%] bg-slate-900 text-surface-charcoal-100/90 p-2 gap-3 justify-between scroll">

    <div class="flex justify-between items-center">
        <button class="p-3 px-4 bg-surface-charcoal-700 rounded-lg text-lg" (click)="this.location.back()">Back</button>


        <button class="p-3 px-4 bg-primary-red-500 rounded-lg text-lg" (click)="openDeletePopup()">Delete</button>

    </div>


    <form [formGroup]="metricForm"
        class="flex flex-col text-lg m-2 p-5 gap-5 rounded-md bg-surface-charcoal-800 shadow-custom-dark">
        <div class="flex flex-col gap-2">
            <p class="text-3xl">Today's value</p>
            <div class="flex gap-3 w-full items-center">
                @if(metricMetadata && metricMetadata.isNumeric){
                <input class="text-xl w-1/2 rounded-md bg-surface-charcoal-950 p-2 focus:outline-none" type="number"
                    id="metricData" formControlName="metricData" placeholder="Enter the data">
                }@else{
                <input class="text-xl w-1/2 rounded-md bg-surface-charcoal-950 p-2 focus:outline-none" id="metricData"
                    formControlName="metricData" placeholder="Enter the data">
                }
                <p class="text-xl">{{(metricMetadata)?.unit}}</p>
            </div>
        </div>


        <div class="flex flex-col gap-2">
            <p class="text-3xl">Note</p>
            <textarea class="rounded-md bg-surface-charcoal-950  p-2 focus:outline-none min-h-[20vh] w-full resize-none"
                formControlName="metricNote" placeholder="Type here"></textarea>
        </div>

    </form>

    <button class="text-center p-2 w-full bg-green-700 rounded-lg text-lg" (click)="saveMetricEntry()">Save</button>


    @if (stateService.popUpName() === PopupType.DELETE_METRIC_ENTRY) {
    <div @fade class="fixed left-0 top-0 h-[100vh] w-[100vw] flex justify-center items-center z-40 bg-black/50"
        (click)="closePopup()">
        <div class="bg-surface-charcoal-900 rounded-lg min-h-[30vh] w-[90vw] p-5 flex flex-col justify-between gap-5"
            (click)="$event.stopPropagation()">

            <p class="text-3xl">Are you sure?</p>
            <p class="mx-auto">Today's data will be lost!</p>

            <div class="flex justify-between">
                <button class="p-3 px-4 bg-surface-charcoal-700 rounded-lg text-lg" (click)="closePopup()">Back</button>
                <button class="p-3 px-4 bg-primary-red-500 rounded-lg text-lg"
                    (click)="deleteMetricEntry()">Delete</button>
            </div>


        </div>
    </div>
    }

</section>